a {
    text-decoration: none;
    color: green;
}

body, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
}