@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cera Pro";
    color: #3D3D3D;
    line-height: 1;
    font-size: 16px;
}

header,
main {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: #46A358;
    color: white;
    padding: 7px 18px;
    border-radius: 6px;
    text-decoration: none;
    width: max-content;
}

.button:hover {
    cursor: pointer;
    background-color: #3b8e4d;
}

.button > * {
    vertical-align: middle;
}

h1 {
    font-weight: 900;
    font-size: 70px;
    margin:0
}

h2 {
    font-weight: 700;
    font-size: 18px;
}

/* Login/register styles */

.register-container {
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 500px;
    height: 656px;
    padding: 52px 100px;
    border: 1px solid;
    border-radius: 6px;
}
    
    .register-container a {
        text-decoration: none;
        color: green;
    }

    .register-container .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

        .register-container .nav .navdivider {
            height: 14px;
            border-right: solid 1px #000000;
            margin: 0 16px;
        }

    .register-container .form-container {
        padding: 16px 0;
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
        

        .register-container .form-container p {
            margin: 0;
        }
        

        .register-container .form-container form {
            display: flex;
            flex-direction: column;
            margin-bottom: 32px;
        }


            .register-container .form-container form input {
                height: 40px;
                width: 300px;
                border-radius: 6px;
                border: solid 1px #e3e3e3;
                margin-top: 16px;
                padding: 0 16px;
            }

            .register-container .form-container form input[type^="submit"] {
                height: 40px;
                border-radius: 6px;
                background-color: #46A358;
                color: white;
                margin-top: 41px;
            }

        .register-container .form-container .link-buttons {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
        }
        
            .register-container .form-container .link-buttons button {
                margin-bottom: 16px;
                width: 300px;
                height: 40px;
                border-radius: 6px;
                border: solid 1px #e3e3e3;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
                .register-container .form-container .link-buttons button span {
                    margin-left: 8px
                }

    .register-container .rectangle {
        position: absolute; 
        width: 100%;
        height: 10px;
        bottom: 0;
        margin-left: -100px;
        background-color: #46A358;
    }

/* Header styles */

header {
    display: block;
    height: 53px;
    margin-top: 30px;
    border-bottom: solid 1px #46A35880;
}
    header > * {
        display: inline-block;
        vertical-align: top;
    }

    header .logo {
        width: 150px;
    }

    header nav {
        width: calc(100% - 150px - 100px - 9px);
        height: 100%;
    }

        header nav ul {
            display: block;
            margin: 0 auto;
            width: max-content;
            height: 45px;
            margin-top: 7px;
        }

            header nav ul li {
                display: inline-block;
                margin-right: 50px;
                height: 100%;
            }

                
                header nav ul li a.active {
                    pointer-events: none;
                }

                header nav ul li a:hover,
                header nav ul li a.active {
                    border-bottom: solid 3px #46A358;
                    font-weight: 700;
                }

                header nav ul li a {
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    color: black;
                }
        
        header > .login-link > * {
            vertical-align: middle;
        }

/* Main styles */

    main > section {
        display: block;
    }
    main .hero {
        background-color: #F5F5F580;
        margin-top: 12px;
    }

        main .hero > * {
            display: inline-block;
            vertical-align: middle;
        }

        main .hero .hero-text {
            width: calc(100% - 507px - 5px);
            padding: 40px;
        }
            
            main .hero .hero-text p {
                font-size: 14px;
            }

            main .hero .hero-text .welcome {
                letter-spacing: 2px;
                font-weight: 500;
            }

            main .hero .hero-text .title {
                max-width: 530px;
                margin: 8px 0;
            }

                main .hero .hero-text .title span {
                    color: #46A358;
                }


            main .hero .hero-text .paragraph {
                color: #00000080;
                max-width: 557px;
                line-height: 24px;
            }

            main .hero .hero-text .button {
                display: block;
                padding: 11px 26px;
                font-weight: 700;
                margin-top: 44px;
                letter-spacing: 0;
            }

                main .hero .hero-text .button span {
                    display: block;
                }

        main .hero .hero-image-container {
            position: relative;
            width: 507px;
            height: 450px;
        }
        
            main .hero .hero-image-container .small {
                width: 135px;
                height: 135px;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 298px;
                left: 55px; 
            }

/* Catalog styles */
.catalog-section {
    margin-top: 46px;
    overflow: hidden;
}

.catalog-left-block {
    float: left;
    width: 310px;
}

.categories-nav-block {
    height: 774px;
    background-color: #FBFBFB;
    padding: 14px 18px;
}

    .categories-nav-block ul {
        overflow: hidden;
        list-style-type: none;
        margin-left: 12px;
        margin-top: 7px;
        font-size: 15px;
    }

    .categories-nav-block li {
        padding: 12px 0;
    }

    .categories-nav-block a.active {
        pointer-events: none;
    }

    .categories-nav-block a:hover,
    .categories-nav-block a.active {
        color: #46A358;
        font-weight: 700;
    }

    .categories-nav-block a {
        text-decoration: none;
        color: black;
    }

    .categories-nav-block a {
    }
.ad-banner {
    display: block;
    width: 310px;
    height: auto;
}


.catalog-right-block {
    float: right;
    width: calc(100% - 310px - 50px);
}

.catalog-header {
    overflow: hidden;
}

    .catalog-header ul {
        list-style-type: none;
    }

    .catalog-header li {
        display: inline-block;
        text-transform: capitalize;
        font-size: 15px;
        margin-right: 40px;
    }

    .catalog-header a {
        display: block;
        height: 23px;
        text-decoration: none;
        color: black;
    }

    .catalog-header a.active {
        pointer-events: none;
    }
    
    .catalog-header a.active,
    .catalog-header a:hover {
        font-weight: 700;
        color: #46A358;
        border-bottom: 2px solid #46A358;
        cursor: pointer;
    }

    .catalog-header nav {
        float: left;
    }

    .catalog-header form {
        float: right;
    }

.sort-panel {
    font-size: 15px;
    margin-right: 2px;
}

.sort-panel::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 2px solid #3D3D3D;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-bottom: 2px;
}
    
    .sort-panel label {
        margin-right: 8px;
    }

    .sort-panel select {
        border: none;
        appearance: none;
    }

.catalog {
    margin-top: 31px;
}

.product-image-wrapper {
    position: relative;
    width: 258px;
    height: 300px;
    background-color: #FBFBFB;
}

    .product-image-wrapper img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .product-card h3 {
        margin-top: 12px;
        font-weight: 400;
    }
    
    .product-card span {
        color: #46A358;
        font-weight: 700;
        font-size: 18px;
    }
    
    .product-card span::before {
        content: "$";
    }

.paginator{
    clear: both;
    float: right;
    margin-top: 90px;
}

    .paginator ul {
        list-style-type: none;

    }

    .paginator li {
        display: inline-block;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        font-weight: 300;
        font-size: 18px;
        overflow: hidden;
    }
    
    .paginator a:hover,
    .paginator a.active {
        background-color: #46A358;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }
    
    .paginator a.active {
        pointer-events: none;
    }

    .paginator a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;
        text-decoration: none;
    }
